@mixin grid($col){
    $a:(100/$col)-3;
    $b:percentage($a/100);
    
width:$b
}

.col{
    @include grid(3)
}







@mixin fadeIn($positionx:0px, $positiony:0px,$time:2s){
   

    @keyframes inside{
        from {transform: translate($positionx, $positiony);
           opacity: 0;};
       to {position: 0;
    
    opacity: 1;}}
    animation-name: inside;
    animation-duration: $time;
    animation-timing-function: linear;
   animation-iteration-count: 1
   
    }

    
   


    .anim0-5{
        @include fadeIn(0px,-150px,0.5s,)
    }
    .anim1{
        @include fadeIn(0px,-150px,1s,)
    }
    .anim1-5{
        @include fadeIn(0px,-1500px,1.5s,)
    }
    .anim2{
        @include fadeIn(100px,-150px,2s,)
    }
    .anim2-5{
        @include fadeIn(0px,-150px,2.5s,)
    }

    
    @mixin pulsation{
        @keyframes pulse{
            0%{transform: scale(1);}
            50%{transform: scale(1.5);}
            100%{transform: scale(1);}
        }
        animation-name: pulse;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards
}


    
.pp:hover{
   
    @include pulsation
}